#title {
    color: rgb(255,0,0);
    font-weight:bold;
    text-align:center;
    font-size:75px;
}

.mexican.food:hover {
    background-color: rgb(0,255,0,0.5)
}

.american.food:hover {
    background-color: rgb(0,0,255,0.4);
}

.chinese.food:hover {
    background-color: rgb(255,100,40,0.4);
}
.food {
    background-color:rgb(255,255,0);
    font-size:24px;
    display:flex;
    margin:auto;
}